Source: whiteboard
Section: user/Multimedia
Priority: optional
Maintainer: Hannu Laine <hannu.e.laine@nokia.com>
Build-Depends: debhelper (>= 4.0.0), libwhiteboard-dev (>= 2.0)
Standards-Version: 3.6.0

Package: whiteboard
Architecture: any
Depends: libwhiteboard (>= 2.0-beta1)
Description: WhiteBoard Daemon
